*.iml
out/
*.ipr
*.iws
classpath.txt
version.properties
.classpath
.cache
.settings/
lib/*
build/*
generated-files/*
generated-code/*
*.swp
*.swo

/target
/generated-files
/nbactions.xml
*.pyc
__pycache__
samples/server-generator/scalatra/output
samples/server-generator/node/output/node_modules
samples/server-generator/scalatra/target
samples/server-generator/scalatra/output/.history

target
.idea
.lib
atlassian-ide-plugin.xml
.DS_Store

**/generated-sdk

CSharpSDK/**/bin
CSharpSDK/**/obj
CSharpSDK/**/packages
CSharpSDK/**/*.suo
CSharpSDK/**/*.user
CSharpSDK/EdFi.OdsApi.Sdk/Api
CSharpSDK/EdFi.OdsApi.Sdk/Models
CSharpSDK/EdFi.OdsApi.Sdk/Program.cs
CSharpSDK/EdFi.OdsApi.Sdk/*.nupkg
CSharpSDK/EdFi.OdsApi.Sdk/Helpers
/MDE-EdFiClientSDK/EdFi/OdsApiV31/.vs/

**/.vs/
