*.iml
out/
*.ipr
*.iws
classpath.txt
version.properties
.classpath
.cache
.settings/
lib/*
build/*
generated-files/*
generated-code/*
*.swp
*.swo

/target
/generated-files
/nbactions.xml
*.pyc
__pycache__
samples/server-generator/scalatra/output
samples/server-generator/node/output/node_modules
samples/server-generator/scalatra/target
samples/server-generator/scalatra/output/.history

target
.idea
.lib
atlassian-ide-plugin.xml
.DS_Store

**/.vs/
**/.vscode/

**/generated-sdk
swagger-codegen-cli*.jar
openapi-generator-cli*.jar
